@import "../../../../assets/styles/_global.scss";

.paymentItem {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid $grey-005;
  &__image {
  }
  &__button {
    background-color: rgba(0, 133, 255, 0.1) !important;
    border-radius: 14px !important;
    color: $secondary-blue !important;
    font-size: 14px !important;
    line-height: 16px !important;
    width: 95px;
    height: 28px;
  }

  &__tagContainer {
    padding: 4px 8px;
    background-color: rgba(6, 179, 186, 0.1);
    margin-top: 6px;
    border-radius: 4px;
    width: fit-content;

    &-text {
      font-family: "Arial";
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 11px;
      color: $tosca;
      margin: 0px;
    }
  }

  &__infoContainer {
    flex: 1;
  }

  &__title {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 3px;
    color: $black;
    margin-top: 0;
  }

  &__description {
    font-weight: normal;
    font-size: 10px;
    line-height: 11px;
    color: $grey-002;
    margin-top: 0px;
    margin-bottom: 0;
  }
}
