@import "../../../../assets/styles/_global.scss";

.rowInfo {
  padding-bottom: 24px;
  border-bottom: 1px solid $grey-005;
  &__mr-12 {
    margin-right: 12px;
  }
  &__title {
    color: $black;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    margin: 0;
    margin-right: 16px;
  }

  &__content {
    &-title {
      color: $black;
      font-size: 14px;
      line-height: 18px;
      font-weight: bold;
      margin-bottom: 0px;
      margin-top: 0;
    }

    &-phone {
      font-size: 14px;
      letter-spacing: 0.01em;
      line-height: 18px;
      color: $grey-002;
      margin: 1px 0px;
    }

    &-address {
      font-size: 14px;
      letter-spacing: 0.01em;
      line-height: 18px;
      color: $black;
      margin: 1px 0px;
      letter-spacing: 0.01em;
    }
  }

  &__seccondContent {
    &-image {
      margin-right: 16px;
    }

    &-infoContainer {
      &-title {
        margin: 0;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: $black;
      }

      &-description {
        margin: 0;
        color: $grey-003;
        font-size: 13px;
        line-height: 15px;
      }
    }
  }
}
