@import "../../../../assets/styles/_global.scss";

.courier {
  &__closeIcon {
    position: absolute;
    top: 24px;
    right: 18px;
  }

  &__container {
    min-height: 392px;
    padding: 20px 20px 24px 20px;
    line-height: 16px;
    overflow-y: auto;

    &-title {
      font-size: 22px;
      line-height: 25px;
      letter-spacing: -0.55px;
      color: $black;
    }
  }

  &__buttonContainer {
    padding: 0px 20px 24px 20px;
  }

  &__button {
  }
}
