@import "../../../assets/styles/_global.scss";

.mainLayout {
  background-color: $white;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__layoutContainer {
    width: 100%;
    max-width: 552px;
  }
}
