@import "../../../assets/styles/_global.scss";

.order {
  // background-color: $primary;

  &__mr-5 {
    margin-right: 5px;
  }

  &__container {
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__shopContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 8px;
    background-color: $white;
    border-radius: 16px;
    padding: 0px 16px;

    &-left {
      display: flex;
      align-items: center;

      &-title {
        font-size: 14px;
        line-height: 18px;
        color: $black;
        font-weight: 400;
        text-transform: uppercase;
        margin-left: 12px;
        font-weight: bold;
      }
    }

    &-right {
      display: flex;
      align-items: center;

      &-title {
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        color: $black;
        margin-right: 8px;
        margin-left: 8px;
        font-weight: bold;
      }
    }
  }

  &__orderInformation {
    background-color: $white;
    flex: 1;
    padding: 20px;

    &-header {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &-checkContainer {
        background-color: $green;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 16px;
      }

      &-title {
        margin-top: 8px;
        margin-bottom: 4px;
        color: $primary;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
      }

      &-transaction {
        font-family: Arial;
        font-weight: 400;
        font-size: 10px;
        margin: 0;
        line-height: 11px;
      }
    }

    &-extraTimeContainer {
      padding: 16px 10px;
      background-color: rgba(0, 133, 255, 0.08);
      display: flex;
      margin-top: 32px;
      border-radius: 12px;

      &-counterText {
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        color: $primary;
        font-family: Open Sans;
        margin: 0px;
      }

      &-right {
        margin-left: 12px;
        &-text {
          margin: 0px;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          color: $black;
          margin-bottom: 8px;
        }

        &-link {
          font-family: "Arial";
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 16px;
          color: $blue;
        }
      }
    }

    &-informationContainer {
      padding: 8px;
      text-align: center;
      border: 1px solid $grey-005;
      margin-top: 8px;
      border-radius: 12px;

      &-text {
        color: $primary;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        margin: 0;
      }

      &-email {
        color: $primary;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        font-weight: bold;
        margin: 0;
        margin-top: 4px;
        margin-bottom: 8;
      }

      &-link {
        color: $blue;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
      }
    }

    &-addressContainer {
      display: flex;
      flex: 1;
      margin-top: 8px;
      padding: 16px 0px;

      &-label {
        font-size: 12px;
        line-height: 18px;
        color: $black;
        margin-right: 16px;
        margin-top: 0;
        margin-bottom: 0;
      }

      &-infoBlock {
        flex: 1;

        &-title {
          font-style: normal;
          font-weight: 700;
          font-size: 12px;
          line-height: 18px;
          letter-spacing: 0.01em;
          color: $black;
          margin: 0;
        }

        &-phone {
          color: $grey-002;
          margin: 0;
          font-weight: 400;
          font-size: 12px;
          line-height: 18px;
          letter-spacing: 0.01em;
        }

        &-description {
          color: $black;
          margin: 0;
          font-weight: 400;
          font-size: 12px;
          line-height: 18px;
          letter-spacing: 0.01em;
        }
      }

      &-button {
        padding: 0 !important;
        font-size: 12px !important;
        line-height: 16px !important;
        color: $blue !important;
      }
    }

    &-courierContainer {
      display: flex;
      flex: 1;
      margin-top: 8px;
      padding: 16px 0px;

      &-label {
        font-size: 12px;
        line-height: 18px;
        color: $black;
        margin-right: 16px;
        margin-top: 0;
        margin-bottom: 0;
      }

      &-infoBlock {
        flex: 1;
        display: flex;
        align-items: center;

        &-centerContainer {
          margin-left: 16px;
          &-title {
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 18px;
            color: $black;
            margin: 0;
          }

          &-description {
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            margin: 0;
            color: $grey-002;
          }
        }
      }

      &-button {
        padding: 0 !important;
        font-size: 12px !important;
        line-height: 16px !important;
        color: $blue !important;
      }
    }

    &-paymentContainer {
      display: flex;
      flex: 1;
      margin-top: 8px;
      padding: 16px 0px;

      &-label {
        font-size: 12px;
        line-height: 18px;
        color: $black;
        margin-right: 16px;
        margin-top: 0;
        margin-bottom: 0;
      }

      &-infoBlock {
        flex: 1;
        display: flex;
        align-items: center;

        &-centerContainer {
          margin-left: 16px;
          &-title {
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 18px;
            color: $black;
            margin: 0;
          }

          &-description {
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            margin: 0;
            color: $grey-002;
          }
        }
      }

      &-button {
        padding: 0 !important;
        font-size: 12px !important;
        line-height: 16px !important;
        color: $blue !important;
      }
    }
  }

  &__orderSummary {
    background-color: $grey-006;
    padding: 4px 20px 24px 20px;
  }
}
