@import "../../assets/styles/_global.scss";

.payment {
  // background-color: $primary;

  &__mr-8 {
    margin-right: 8px;
  }

  &__container {
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__shopContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 8px;
    background-color: $white;
    border-radius: 16px;
    padding: 0px 16px;

    &-left {
      display: flex;
      align-items: center;

      &-title {
        font-size: 14px;
        line-height: 18px;
        color: $black;
        font-weight: 400;
        text-transform: uppercase;
        margin-left: 12px;
        font-weight: bold;
      }
    }

    &-right {
      display: flex;
      align-items: center;

      &-title {
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        color: $black;
        margin-right: 8px;
        margin-left: 8px;
        font-weight: bold;
      }
    }
  }

  &__formInfor {
    background-color: $grey-006;
    flex: 1;

    &-personal {
      background-color: $white;
      padding: 20px 20px;
    }

    &-shippingAddress {
      padding: 20px 20px;
      background-color: $white;
      margin-top: 8px;

      &-title {
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
      }
    }

    &-courier {
      padding: 20px 20px;
      background-color: $white;
      margin-top: 8px;

      &-defaultText {
        font-family: "Arial";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        margin: 0;
        color: $grey-placeholder;
        margin-top: -10px;
      }
    }

    &-payment {
      padding: 20px 20px;
      background-color: $white;
      margin-top: 8px;

      &-title {
        color: $grey-002;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: -0.155556px;
        margin-bottom: 16px;
        margin-top: 0px;
      }

      &-defaultText {
        font-family: "Arial";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        margin: 0;
        color: $grey-placeholder;
        margin-top: -10px;
      }
    }

    &-group {
      display: flex;
      flex: 1;

      &-icon {
        margin-right: 12px;
      }
    }
  }

  &__orderSummary {
    background-color: $grey-006;
    padding: 4px 20px 24px 20px;
  }

  &__confirmButtonContainer {
    background-color: $white;
    bottom: 0px;
    position: fixed;
    text-align: center;
    width: 100%;
    max-width: 552px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-button {
      margin: 16px 20px 0px 16px;
      width: 70%;
    }

    &-totalLabel {
      color: $black;
      font-size: 14px;
      line-height: 18px;
      margin: 0;
    }

    &-totalValue {
      color: $orange;
      font-size: 14px;
      line-height: 20px;
      margin: 0;
    }

    &-info {
      margin: 0px 20px 0px 20px;
      padding: 0px 30px;
      font-size: 12px;
      line-height: 16px;
      color: $grey-003;
      padding: 0px 65px;
      font-weight: 400;

      a {
        text-decoration: none;
        color: $blue;
        font-size: 13px;
      }
    }
  }
}
