@import "../../assets/styles/_global.scss";

.modal {
  border-radius: 16px;
  max-width: 552px;
  margin-left: auto;
  margin-right: auto;
  &__closeIcon {
    position: absolute;
    z-index: 10;
    top: 24px;
    right: 18px;
  }

  &__closeIconBack {
    position: absolute;
    z-index: 10;
    top: 24px;
    left: 18px;
    display: flex;
    align-items: center;

    &-text {
      font-size: 14px;
      line-height: 18px;
      font-family: "Arial Rounded MT Bold";
      color: $black;
      margin-left: 8px;
      cursor: pointer;
    }
  }
}
