@import "../../../assets/styles/_global.scss";

.checkoutConfirm {
  &__container {
    padding-top: 24px;
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__shopContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 20px 24px 20px;
    background-color: $white;
    border-radius: 16px;
    padding: 0px 16px;
    &-left {
      display: flex;
      align-items: center;

      &-title {
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        color: $black;
        text-transform: uppercase;
        margin-left: 12px;
      }
    }

    &-right {
      display: flex;
      align-items: center;

      &-title {
        font-size: 12px;
        line-height: 18px;
        color: $black;
        margin-right: 12px;
        font-weight: 400;
      }
    }
  }

  &__formInfor {
    background-color: $grey-006;

    &-howToPay {
      font-family: "Arial";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 28px;
    }

    &-cardInfoContainer {
      text-align: center;
      padding: 32px 20px 16px 20px;
      background-color: $white;
      margin-bottom: 12px;

      &-copyContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        &-text {
          margin: 0;
          font-size: 12px;
          font-weight: 400;
          line-height: 20px;
          font-family: Open Sans;
          margin-left: 4px;
        }
      }

      &-minorText {
        font-size: 12px;
        line-height: 14px;
        font-family: Arial;
        font-weight: 400;
        color: $grey-002;
        margin: 8px;
      }

      &-title {
        font-size: 18px;
        font-family: "Arial Rounded MT Bold";
        line-height: 28px;
        letter-spacing: -0.55px;
        font-weight: normal;
        padding: 0px 50px;
        color: $black;
      }

      &-descriptionContainer {
        background-color: $grey-006;
        border-radius: 8px;
        padding: 8px 16px;
      }

      &-descriptionText {
        color: $black;
        font-size: 12px;
        line-height: 18px;
      }

      &-confirmText {
        letter-spacing: -0.55px;
        color: $grey-002;
        font-size: 14px;
        line-height: 24px;
      }
    }

    &-detailContainer {
      padding: 16px 20px;
      background-color: $white;

      &-title {
        margin-top: 0px;
      }

      &-label {
        color: $black;
        font-size: 12px;
        line-height: 18px;
        margin: 0;
      }

      &-value {
        font-family: Arial Rounded MT Bold;
        font-size: 12px;
        line-height: 18px;
        margin: 0;
      }

      &-input {
        flex: 1;
      }

      &-tag {
        color: $grey-003;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        margin-top: 24px;
      }
    }
  }

  &__buttonContainer {
    background-color: $white;
    padding: 20px 16px;
    position: fixed;
    bottom: 0px;
    max-width: 552px;
    width: 100%;

    &-button {
      flex: 1;
      margin-left: 6px;
    }

    &-buttonCancel {
      flex: 1;
      margin-right: 8px;
    }

    &-buttonCancelItem {
      border-color: $primary !important;
      color: $primary !important;
    }
  }
}
