@import "../../../../assets/styles/_global.scss";

.addCardBottomSheet {
  flex: 1;
  &__container {
    flex: 1;
    margin-top: 50px;
    padding: 20px;

    &-title {
      font-size: 20px;
      line-height: 23px;
      letter-spacing: -0.55px;
      color: $black;
    }
  }

  &__buttonContainer {
    text-align: center;
    width: 100%;
    margin-bottom: 24px;

    &-button {
      width: 70%;
    }
  }
}
